<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Планувальник маршруту</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <h1>Планувальник маршруту</h1>
    <form method="POST" action="/result">
        <label for="start_address">Пункт відправлення:</label>
        <input type="text" id="start_address" name="start_address" required>

        <label for="end_address">Пункт призначення:</label>
        <input type="text" id="end_address" name="end_address" required>

        <label for="car_brand">Автомобіль (марка, модель, рік):</label>
        <input type="text" id="car_brand" name="car_brand" placeholder="Наприклад: Toyota Corolla 2018" required>

        <label for="fuel_custom">Середня витрата пального (л/100 км):</label>
        <input type="number" step="0.1" id="fuel_custom" name="fuel_custom" placeholder="Опціонально">

        <label for="metric">Оберіть критерії побудови маршруту:</label>
        <select name="metric" id="metric">
            <option value="fuel_weight">Витрата палива</option>
            <option value="length_weight">Довжина маршруту</option>
            <option value="poi_score">Культурні точки</option>
        </select>
        <button type="submit">Побудувати маршрут</button>
    </form>
</div>
</body>
</html>
